.wrapper{
    display: flex;
    flex-direction:row;
    margin-top: 12px;
}

.wrapper>div:nth-child(1){
    flex-grow: 2;
}

.totalPrice{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 600;
    padding: 5px;
    border: 2px solid rgba(30,128,197,0.5);
}

.bus{
    display: flex;
    flex-direction:row;
    border-radius: 6px;
    justify-content: flex-start;
    align-items: flex-end;
}
.bus >div:nth-child(1){
    width: 160px;
    font-size: 25px;
    font-family: Roboto;
}

.bus >div:nth-child(3){
    width: 320px;
    margin-bottom: 7px;
}

.bus >div:nth-child(4){
    width: 180px;
}

.bus >div:nth-child(5){
    margin: auto;
}

.Services >img{
    width: 32px;
    height: 32px;
    margin-top: 10px;
}

.price{
    font-size: 18px;
    font-weight: 600;
    font-family: Roboto;
    margin-right: 10px;
    position: relative;
    top:-6px;
}

.imageServices{
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

input[type="text"]:not(.browser-default):focus:not([readonly]){
    box-shadow: none;
}

.busSelect{
    display: flex;
    max-width: 1080px;
    width: 98%;
    height: 70px;
    padding: 4px 25px;
    margin: auto;
    background: #75dbd6;
    border-radius: 18px;
    box-shadow:0px 15px 50px rgba(0,0,0,0.4);
    justify-content: space-around;
    align-items: flex-end;
    z-index:1;
    position: relative;
}

.textfield{
    display: flex;
    flex-direction: row;
}

.textfield:nth-child(1){
    width: 30px;
    height: 30px;


}

.textfield:nth-child(2){
}


.icon{
    background-color: rgb(34,62,146);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 32px !important;
    padding-top: 5px;
    padding-left: 4px;
    margin-top: 10px;
    color:#fff !important;
    box-shadow: 2px 0px 20px 1px #2d2d2d;
}



.sprite{
    padding-left: 20px;
    position: relative;

}
.sprite:before{
    content: "";
    width: 24px;
    height:24px;
    position: absolute;
    left:-6px;
    background-repeat: no-repeat;
    top:3px;
}
.sprite.callIcon:before{
    background-image: url("../images/footer/call.png");

}
.sprite.emailIcon:before{
    background-image: url("../images/footer/mail.png");

}

.sprite.facebookIcon:before{
    background-image: url("../images/footer/facebook.png");

}

/*vishal css start*/
.search_bus_section{
    position:relative;
    overflow:hidden;
}

.box_bus {
    position: absolute;
    width: 59px;
    height: 39px;
    animation: bounce 10s ease-out forwards;
    z-index:12;
    bottom: 0px;
    animation-delay: 2s;
    left:18%;

}
@keyframes bounce{
    0%{
        left:18%;

    }
    100%{
        left:72%;
    }
}
.tree1{
    position:absolute;
    left:43%;
    width:68px;
    height:76px;
    bottom:0px;
    z-index:13;

}
.tree1:before,.tree1:after,.tree2:before,.tree2:after, .tree3:before{
    position:absolute;
    content:"";
    background:url('../images/sprite-vector.png') no-repeat;			}
.tree1:after {
    width: 52px;
    height: 41px;
    bottom: 0;
    background-position: 28px -1px;
}
.tree1:before {
    width: 58px;
    height: 55px;
    top: 0;
    right: 0;
    background-position: -27px -1px;
    animation: treemove 1s infinite alternate;
}

.tree2{
    position: absolute;
    left: 50%;
    width: 68px;
    height: 62px;
    bottom: 0px;

}
.tree2:after {
    width: 30px;
    height: 39px;
    bottom: 0;
    left: 9px;
    background-position: -81px 0px;
}
.tree2:before {
    width: 68px;
    height: 72px;
    top: 0;
    background-position: -106px 0px;
    animation: treemove 1s infinite alternate;
    transition-delay:.8s;
}
@keyframes treemove{
    0%{
        transform:rotate(-3deg)
    }
    100%{
        transform:rotate(4deg)
    }
}

/*vishal css end*/