.bus{
    display: flex;
    flex-direction:row;
}
.bus >div{
    flex-grow: 1;
}

.bus >div:nth-child(1){
    width: 200px;
}


.wrapper{
    display: flex;
    flex-direction:row;
    margin-top: 12px;
}

.wrapper>div:nth-child(1){
    flex-grow: 2;
}

.totalPrice{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 600;
    padding: 5px;
    border: 2px solid rgba(30,128,197,0.5);
}


.bus >div:nth-child(1){
    flex-grow: 1;
    font-size: 2em;
    font-family: Roboto;
}

.bus >div:nth-child(2){
    flex-grow: 1;
    font-size: 18px;
    font-family: Roboto;
}

.Services >img{
    width: 32px;
    height: 32px;
    margin-top: 10px;
}

.price{
    font-size: 18px;
    font-weight: 600;
    font-family: Roboto;
    margin-right: 10px;
    position: relative;
    top:-10px;
}

.imageServices{
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

input[type="text"]:not(.browser-default):focus:not([readonly]){
    box-shadow: none;
}

.busSelect{
    display: flex;
    width: 1080px;
    height: 70px;
    padding: 4px 25px;
    margin: auto;
    background: #75dbd6;
    border-radius: 18px;
    box-shadow:0px 15px 50px rgba(0,0,0,0.4);
    justify-content: space-around;
    align-items: flex-end;
}

.textfield{
    display: flex;
    flex-direction: row;
}

.textfield:nth-child(1){
    width: 30px;
    height: 30px;


}

.textfield:nth-child(2){
}


.sprite{
    padding-left: 20px;
    position: relative;

}
.sprite:before{
    content: "";
    width: 24px;
    height:24px;
    position: absolute;
    left:-6px;
    background-repeat: no-repeat;
    top:3px;
}
.sprite.callIcon:before{
    background-image: url("../images/footer/call.png");

}
.sprite.emailIcon:before{
    background-image: url("../images/footer/mail.png");

}

.sprite.facebookIcon:before{
    background-image: url("../images/footer/facebook.png");

}


